<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<h1>Leads</h1>


<style>div{text-align:center}p.bold{font-weight: bold;}
    ::selection {
    background: #e30613; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
    background: #e30613; /* Gecko Browsers */
    }</style>
        
    <!-- @{if model.count}
    <div class="row hidden-sm hidden-xs">
        <div class="col-xs-2">
                    <p class="bold">Firstname</p>
            </div>
            <div class="col-xs-2">
                <p class="bold">Lastname</p>
        </div>
        <div class="col-xs-2">
            <p class="bold">E-mail</p>
        </div>
        <div class="col-xs-2">
            <p class="bold">Phone</p>
        </div>
        <div class="col-xs-2">
            <p class="bold">City</p>
        </div>
        <div class="col-xs-2">
            <p class="bold">Project</p>
        </div>
    </div>
        <div class="row">
            @{foreach m in model.items}
                    <div class="row">
                        <div class="col-xs-12 visible-xs">
                                    <p class="bold">Firstname</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.firstname}</p>
                        </div>
                        <div class="col-xs-12 visible-xs">
                                <p class="bold">Lastname</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.lastname}</p>
                        </div>
                        <div class="col-xs-12 visible-xs">
                                <p class="bold">E-mail</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.email}</p>
                        </div>
                        <div class="col-xs-12 visible-xs">
                                <p class="bold">Phone</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.phone}</p>
                        </div>
                        <div class="col-xs-12 visible-xs">
                                <p class="bold">City</p>
                        </div> 
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.city}</p>
                        </div>
                        <div class="col-xs-12 visible-xs">
                                <p class="bold">Project</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <p>@{m.project}</p>
                        </div>
                    </div>
            @{end}
        </div>
            @{view('/partials/pagination', model)}
    @{else}
    <br />
    <div class="empty"><i class="fa fa-search"></i>@(No posts in database.)</div>
    @{fi} -->


    <!-- Transform model into JSON -->
    @{json(model.items, 'itemsdata')}



    <head>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    </head>

    <div id="jsGrid"></div> 
    <style>
        .jsgrid-header-row .jsgrid-header-sort{background-color:#e30613; color: #ffffff;}
        .jsgrid-selected-row>.jsgrid-cell{background:#e30613;border-color:#e30613; color: #ffffff;}
    </style>
    <script>

            data1 = JSON.parse($('#itemsdata').text());
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",
         
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
         
                data: data1,
         
                fields: [
                    { name: "firstname", align: "center",  title: "Firstname", type: "text", width: 150, validate: "required" },
                    { name: "lastname", align: "center", title: "Lastname",  type: "text", width: 150 },
                    { name: "email", align: "center", title: "E-mail",  type: "text", width: 200 },
                    { name: "phone", align: "center", title: "Phone", type: "number", width: 100 },
                    { name: "city", align: "center", title: "City",  type: "text", width: 100 },
                    { name: "project", align: "center", title: "Project",  type: "text", width: 100 },
                    { type: "control", visible: false}
                ]
            });
        </script>